
header{background-color:#FFBE00;height: 90px;margin:0px;display: flex;
    padding: 15px 72px}
   
img{width: 90px;margin-left: 230px;}
header p{height: 30px;
    background-color: #704500;color: aliceblue;
    /* background-color: #704500; */
    -webkit-border-radius:32px;
    padding: 7px 41px;
    width: 376px;
    border: 3px white;
   
   text-align: right;
   font-size: 20px;
   margin-top: 20px;
   margin-right: -545px;
}
header input{    background-color:#FFBE00;
    height: 38px;
    width: 200px;
    color: #704500;
    text-align: left;
    font-size: 15px;
    -webkit-border-radius: 32px;
    border: 1px white;
    margin-top: 23px;
    margin-left:90px;
    padding: 0px 19px;
}
nav{padding: 27px 600px;
}
nav a{color: blue;
gap: 100px;
    /* gap: 5px 25px;
    padding: 20px 20px; */
    text-decoration: none;
}
section{display: grid;margin:10px;padding:20px;gap: 20px;
    grid-template-columns: repeat(4,300px); }
    section div{text-align: center;}
    section img{width: 250px;margin-left: 55px;}
    section p{font-size: 19px;}
    section div p:nth-child(3){    margin-left: 215px;
        margin-top: -50px;
        font-size: 22px;}

    section div p:nth-child(2){font-size: 22px;
        margin-left: -109px;
        margin-top: 0px;
    }
    section pre{color: #da870c;margin-left: 210px;margin-top: -8px;}
    section dl{    display: flex;
        font-size: 12px;
        margin-left: 26px;
        color: gray;
        gap: 3px;}
    section input{margin-left: 210px;}

   


